.formSection {
  display: flex;
  justify-content: center;
}
.formSection > input {
  font-size: 20px;
  padding: 0 1rem;
  line-height: 2rem;
  border-radius: 50px;
  background-color: #fff;
  margin-right: 20px;
}
.formSection > button {
  font-size: 20px;
  padding: 0 1rem;
  line-height: 2rem;
  border-radius: 50px;
  background-color: #000;
  color: #00ffff;
}
.title {
  font-family: system-ui, sans-serif;
  text-align: center;
}
.result {
  padding: 90px;
  display: grid;
  grid-template-columns: auto auto auto;
}
.result > .card {
  display: flex;
}
.card > .resultImage {
  flex: 100% 1;
  margin-top: 1rem;
  border-radius: 20px;
  width: 350px;
  padding: 10px;
  cursor: pointer;
}
.card > .username {
  text-align: center;
  font-family: system-ui, sans-serif;
}

/* 1mm = 3.8px
   1cm = 38px
   1pt = 4/3 px
   1pc = 16px
   1em = 16px
   1rem = 16px
   1fr = 225px
   1vw = 1%
*/
